.principal {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 100px;
  padding: 0 40px;
  margin-bottom: 120px;
}
.principal--titulo {
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 30px;
  position: relative;
}
.principal--titulo::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/decoracao.png) center no-repeat;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}
.principal--loc {
  color: #525252;
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 1000px) {
  .principal {
    gap: 50px;
    grid-template-columns: 1fr 1fr;
  }
  .principal--titulo {
    font-size: 52px;
  }
}
@media (max-width: 900px) {
  .principal img {
    display: none;
  }
  .principal {
    margin-top: 150px;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .principal {
    justify-items: left;
  }
}
@media (max-width: 460px) {
  .principal--titulo {
    font-size: 46px;
    line-height: normal;
  }
  .principal--titulo::before {
    width: 30px;
    height: 10px;
    left: 0;
    top: 0;
  }
  .principal--loc {
    font-size: 23px;
  }
}
